@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Freelancer Hub !</h1>
    <a asp-controller="Home" asp-action="Proceed" class="btn btn-primary">
        Click to Proceed
    </a>
</div>
